
.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100vw;
  padding: 0.5ch;
  font-size: 2.5rem;
  border-bottom: 0.1ch solid black;

  p {
    margin: 0;
  }

  .company {
    font-weight: bold;
    color: chartreuse;
  }
}